<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scxh.ssm.dao.RoleMapper">

    <select id="findAll" resultType="Role">
        SELECT * FROM role
    </select>

    <insert id="save_add" parameterType="Role">
        INSERT INTO role(id,roleName,roleDesc) VALUES (#{id},#{roleName},#{roleDesc})
    </insert>

    <resultMap id="getRoleVo" type="RoleVo">
        <result property="roleName" column="roleName"/>
        <collection property="permissions" ofType="permission">
            <result property="permissionName" column="permissionName"/>
            <result property="url" column="url"/>
        </collection>
    </resultMap>
    <select id="findById" resultMap="getRoleVo" parameterType="String"  >
        SELECT
            ro.roleName,
            pr.permissionName,
            pr.url
            FROM
            role ro,
            permission pr,
            role_permission rp
            WHERE
            ro.id = rp.roleId
            AND
            pr.id = rp.permissionId
            AND
            ro.id = #{id}
    </select>


    <delete id="deleteRoleId" parameterType="String" >
        DELETE FROM role WHERE id = #{id}
    </delete>

    <select id="findRoleByIdAndAllPermission" parameterType="String" resultType="Permission">
        select *
        from permission
        where id not in (select permissionId from role_permission where roleId=#{id})
    </select>

    <insert id="addPermissionToRole" parameterType="String">
        INSERT INTO role_permission(permissionId,roleId) VALUES (#{id},#{setId})
    </insert>

</mapper>