# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\erm_19rgzn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
